<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Contact - Générateur d'Étiquettes Pharmacie</title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav id="header">
        <div class="nav-items">
            <ul>
                <li><a href="accueil.html">Accueil</a></li>
                <li><a href="generateur.html">Produit</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="nav-profile">
            <a href="panier.html" id="cart-link"><img src="/images/icons/panier.svg" alt="Panier"></a>
            <a href="#" id="profile-link"><img src="/images/icons/profil.svg" alt="Profil"></a>
        </div>
    </nav>

    <div class="container contact">
        <h1>Contactez-nous</h1>
        
        <form id="contactForm" class="contact-form">
            <div class="form-group">
                <label for="name">Nom Complet</label>
                <input type="text" id="name" name="name" required>
            </div>
            
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            
            <div class="form-group">
                <label for="phone">Téléphone</label>
                <input type="tel" id="phone" name="phone">
            </div>
            
            <div class="form-group">
                <label for="message">Message</label>
                <textarea id="message" name="message" required></textarea>
            </div>
            
            <button type="submit" class="generate-btn">Envoyer Message</button>
        </form>
    </div>
    <footer class="site-footer">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Contactez-nous</h4>
                <p> 01 23 45 67 89</p>
                <p> contact@generateur-etiquettes.fr</p>
            </div>
            <div class="footer-section">
                <h4>Navigation</h4>
                <ul>
                    <li><a href="accueil.html">Accueil</a></li>
                    <li><a href="generateur.html">Produit</a></li>
                    
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Informations Légales</h4>
                <p> 2024 Générateur d'Étiquettes Pharmacie</p>
                <p>Tous droits réservés</p>
            </div>
        </div>
        
    </footer>
    
    <div id="login-popup-container"></div>
    <script src="/js/contact.js"></script>
    <script type="module" src="/js/auth.js"></script>
    <script type="module" src="/js/login-popup.js"></script>
    <script type="module" src="/js/header.js"></script>
    <script type="module" src="/js/toast.js"></script>
</body>
</html>